python-env/
venv/
dist/
build/
.pytest_cache/
build/
root.egg-info
tests
root/templates
root/structure.json
root/structure2.json
root_app.egg-info
root_config.egg-info
root/__pycache__
__pycache__/
client_secret.json
root/.env
config-prod.py
